NODE_ENV=

DATABASE_URL=
DATABASE_URL_UNPOOLED=

# AUTH_TRUST_HOST=true
AUTH_SECRET= 

AUTH_DISCORD_ID=
AUTH_DISCORD_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

GOOGLE_API_KEY= 
GOOGLE_PLACES_URL="https://maps.googleapis.com/maps/api/place/autocomplete/json"

NEXT_BODY_SIZE_LIMIT=
NEXT_IMAGES_HOSTNAME=

AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_PUBLIC_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

SMTP_HOST=smtp.mailersend.net
SMTP_PORT=587
SMTP_USER= 
SMTP_PASS= 
SMTP_FROM=  


DISCORD_WEBHOOK_URL=
TEMPLATE_INVOICE_ID=